* {
    padding: 8px;
    margin: 8px;
}

body {
    background-color: rgba(224, 224, 224, 0.932)
}

header {
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 0, 0, 0.418);
}

.header div {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.content {
    padding-left: 125px;
    padding-right: 125px;
}
    
#list-one li {
    display: inline;
    color: black
}

#list-two li {
    display: inline;
    list-style-type: none;
    text-align: center;
    
}

#about-me, #education, #experience, #contact-me {
    border: dashed;
    border-color: rgb(255, 0, 0);
}

h2 {
    color: black;
    text-align: left;
    font-size: xx-large;
}

.parts {
    color: black;
    font-family: Helvetica;
    font-size: smaller;
}

footer {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.534);
}