* {
    padding: 8px;
    margin: 8px;
}

body {
    background-color: rgba(184, 184, 184, 0.616)
}

header {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(48, 138, 223, 0.74);
}

.header div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    font-size: 22px;
    text-align: center;
}

img {
    border-radius: 50%;
    height: 280px;
    width: 240px;
    border: solid;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}

.content {
    padding-left: 125px;
    padding-right: 125px;
}
    
#list-one li {
    display: inline;
    color: black
}

#list-two li {
    display: inline;
    list-style-type: none;
    text-align: center;   
}

#about-me, #education-and-experience, #my-projects, #contact-me {
    border: dashed;
    border-color: rgba(0, 132, 255, 0.87);
}

h2 {
    color: black;
    text-align: center;
    font-size: xx-large;
}

.parts {
    color: black;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 550;
}

#my-projects {
    text-align: center;
    flex-wrap: wrap;
}

#contact-me {
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgba(50, 146, 211, 0.664);
}