* {
    padding: 8px;
    margin: 8px;
}

body {
    background-color: rgba(238, 238, 238, 0.548);
}

header {
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(201, 201, 201);
}

.header div {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

.content {
    padding: 20px;

}

h2 {
    color: rgb(105, 105, 105);
    text-align: left;
}

.parts {
    color: black;
    font-family: Helvetica;
    font-size: smaller;
}

footer {
    text-align: center;
    background-color: rgba(0, 89, 255, 0.281);
}